---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Container from "@components/Container.astro";
import UnivCard from "@components/UnivCard.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import UnivList from "@components/UnivList.astro";

const univs = await getCollection("univ")
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <Header title={SITE_TITLE} />
    <main class="space-y-40 mb-40">
      <div class="relative pt-36 ml-auto">
        <UnivList />
      </div>
    </main>
    <Footer />
  </body>
</html>


