---
import Container from "@components/base/Container.astro";
import OrganizerCard from "./OrganizerCard.astro";
---

<div class="text-gray-600 dark:text-gray-300" id="organizer">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        운영진 소개
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <OrganizerCard
        name="김민상"
        role="컨텐츠팀"
        image="/images/organizer/tony.png"
        github="https://github.com/tony9402"
        linkedIn="https://www.linkedin.com/in/tony9402/"
        bio="Dobby is free! \n 자연어처리로 석사졸업한 백엔드 개발자입니다."
      />
      <OrganizerCard
        name="김현우"
        role="행사팀"
        image="/images/organizer/hyeonwoo.jpeg"
        github="https://github.com/Coalery"
        linkedIn="https://linkedin.com/in/coalery"
        bio="하고 싶은 걸 합니다. 이모저모 재밌는 걸 찾아 둥실둥실 떠다녀요."
      />
      <OrganizerCard
        name="남의서"
        role="행사팀"
        image="/images/organizer/euiseo.jpeg"
        bio="짱구 조아 \n 농구 조아 \n 개발은..."
      />
      <OrganizerCard
        name="문준상"
        role="행사팀"
        image="/images/organizer/joonsang.jpeg"
        bio="고양하는 코딩이입니다."
      />
      <OrganizerCard
        name="박시원"
        role="디자인팀"
        image="/images/organizer/siiiiwon.jpg"
        bio="현실에서는 학고1회 컴공생이었던 내가 이세계에서는 디자이너?!?"
      />
      <OrganizerCard
        name="박정식"
        role="컨텐츠팀"
        image="/images/organizer/jeongsik.jpeg"
        bio="이것저것 시도해보고 있는 오리입니다. 나만의 연못을 찾아 오늘도 날고 있어요."
        github="https://github.com/sat0317"
        linkedIn="https://linkedin.com/in/parkjeongsik/"
        instagram="https://www.instagram.com/park_quation/"
      />
      <OrganizerCard
        name="송보경"
        role="컨텐츠팀"
        image="/images/organizer/bogyeong.jpg"
        bio="개발자가 아니고 그냥 발입니다."
      />
      <OrganizerCard
        name="송현민"
        role="컨텐츠팀"
        image="/images/organizer/hyeonmin.png"
        bio="개발자 어른이가 되고 싶은 개발자 어린이 꿀피입니다."
      />
      <OrganizerCard
        name="신서연"
        role="디자인팀"
        image="/images/organizer/seoyeon.jpg"
        bio="컴공이지만 디자인을 하는 이상한…사람입니다."
      />
      <OrganizerCard
        name="이준원"
        role="Co-Founder"
        image="/images/organizer/junwon.jpeg"
        bio="11년째 코딩하는 고양이 입니다."
        github="https://github.com/cpprhtn"
        linkedIn="https://linkedin.com/in/cpprhtn"
        instagram="https://www.instagram.com/cpp_rhtn"
      />

      <OrganizerCard
        name="이지성"
        role="홍보팀"
        image="/images/organizer/beauty.jpg"
        bio="햇소 맛있어요"
        github="https://github.com/easycastle"
        linkedIn="https://linkedin.com/in/cocoquiet"
        instagram="https://www.instagram.com/easy_sng03"
      />
      <OrganizerCard
        name="추영욱"
        role="Co-Founder"
        image="/images/organizer/yeonguk.jpeg"
        bio="재미난 프로젝트를 찾아 돌아다니며 공부하는 탐험가입니다. 최근엔 Swift와 인공지능을 좀 찍먹하고 있습니다 ㅎㅎ"
        github="https://github.com/choo121600"
        linkedIn="https://linkedin.com/in/keith-choo-yu991216"
        instagram="https://www.instagram.com/yeong_uk._"
      />
      <OrganizerCard
        name="현승준"
        role="디자인팀"
        image="/images/organizer/seungjun.jpeg"
        bio="디자인에 관심있는 개발자입니다!"
      />
    </div>
  </Container>
</div>
