---
import Container from "@components/base/Container.astro";
import OrganizerCard from "./OrganizerCard.astro";
---

<div class="text-gray-600 dark:text-gray-300" id="organizer">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        운영진 소개
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <OrganizerCard
        name="김민상"
        role="컨텐츠팀"
        image="/images/organizer/tony.png"
        github="https://github.com/tony9402"
        linkedIn="https://www.linkedin.com/in/tony9402/"
        bio="Dobby is free! \n 자연어처리로 석사졸업한 백엔드 개발자입니다."
      />
      <OrganizerCard
        name="김현우"
        role="행사팀"
        image="/images/organizer/hyeonwoo.jpeg"
        github="https://github.com/Coalery"
        linkedIn="https://linkedin.com/in/coalery"
        bio="하고 싶은 걸 합니다. 이모저모 재밌는 걸 찾아 둥실둥실 떠다녀요."
      />
      <OrganizerCard
        name="이준원"
        role="Co-Founder"
        image="/images/organizer/junwon.jpeg"
        bio="11년째 코딩하는 고양이 입니다."
        github="https://github.com/cpprhtn"
        linkedIn="https://linkedin.com/in/cpprhtn"
        instagram="https://www.instagram.com/cpp_rhtn"
      />
      <OrganizerCard
        name="추영욱"
        role="Co-Founder"
        image="/images/organizer/yeonguk.jpeg"
        bio="재미난 프로젝트를 찾아 돌아다니며 공부하는 탐험가입니다. 최근엔 Swift와 인공지능을 좀 찍먹하고 있습니다 ㅎㅎ"
        github="https://github.com/choo121600"
        linkedIn="https://linkedin.com/in/keith-choo-yu991216"
        instagram="https://www.instagram.com/yeong_uk._"
      />
    </div>
  </Container>
</div>
