---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Container from "../components//Container.astro";
---

<html lang="en">
	<head>
		<BaseHead title="SUSC는?" description="SUSC는 어떤 단체인가요?" />
	</head>

	<body class="bg-white dark:bg-gray-900">
		<Header />
		<main class="space-y-40 mb-40">
			<Container>
        <div class="overflow-hidden bg-white py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                  <h2 class="text-base font-semibold leading-7 text-indigo-600">SUSC는?</h2>
                  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">지식과 경험을 공유하는</p>
                  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">대학생 연합 생태계 SUSC</p>
                  <p class="mt-6 text-lg leading-8 text-gray-600">SUSC의 목표는 분산되어있는 여러 대학교를 연결하여 관계를 형성하는 것입니다. 각 학교간의 교류를 통해 서로의 지식과 경험을 공유하고 발전시키는 IT 생태계가 형성되길 바랍니다.</p>
                </div>
              </div>
              <img src="../../public/aboutBanner.jpg" alt="Product screenshot" class="w-[48rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
            </div>
          </div>
        </div>
			</Container>
		</main>
		<Footer />
	</body>
</html>
