---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="SUSC는 무엇인가요?"
  pubDate={new Date("August 18 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>우리에 대해서 소개글을 써야겠네요</p>
</Layout>
