---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainBannerTitle from "../components/BannerTitle.astro";
import MainOrganizerList from "../components/MainOrganizerList.astro";
import MainUnivList from "../components/MainUnivList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="space-y-40 mb-40">
      <MainBannerTitle />
			<MainOrganizerList />
      <MainUnivList />
    </main>
    <Footer />
  </body>
</html>
