---
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe78039af-f7da-45b7-b671-de10742e9412%2F%25E1%2584%2591%25E1%2585%25A1%25E1%2584%258B%25E1%2585%25B5%25E1%2584%258F%25E1%2585%25A9%25E1%2586%25AB%25E1%2584%2592%25E1%2585%25A1%25E1%2586%25AB%25E1%2584%2580%25E1%2585%25AE%25E1%2586%25A8_%25E1%2584%2585%25E1%2585%25A9%25E1%2584%2580%25E1%2585%25A9.png&blockId=55a0dca6-908f-471f-9524-2b5f45ebf2f8&width=256" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>파이콘 계좌</title>
    <meta name="pycon 계좌"/>
	</head>

	<body class="bg-white dark:bg-gray-900">

		<main class="space-y-40 mb-40 pt-36">
			<Container>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">법인명: 사단법인 파이썬사용자모임<br>
          입금계좌: 국민은행 637437-01-007318</p>
      </Container>
		</main>
	</body>
</html>
