---
import Container from "../components/Container.astro";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
		<BaseHead title="SUSC 세미나" description="SUSC 세미나" />
	</head>


	<body class="bg-white dark:bg-gray-900">

		<main class="space-y-40 mb-40 pt-36">
			<Container>
				<h1 class="text-4xl font-bold dark:text-white">SUSC 세미나</h1>
				<p class="text-gray-500 dark:text-gray-400 mt-4 dark:text-white">SUSC 세미나는 11월 19일 오후 2시에 진행됩니다.</p>
				<div class="p-4 w-80">
					<img src="/images/seminar.png" class="h-auto w-full" loading="lazy" alt="seminar" />
				</div>
				<a
					class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
					href="https://forms.gle/eigCbbZVPDkjaGje6"
				>
					<span class="relative text-base font-semibold text-white">세미나 신청하기</span>
				</a>
			</Container>
		</main>
	</body>
</html>
