---
import Container from "../components/Container.astro";
const today = new Date();
---

<footer class="py-20 md:py-40">
  <Container>
    <div class="m-auto">
      <div class="flex flex-wrap items-center text-sm justify-between md:flex-nowrap">
        <div class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-3/5 sm:text-left">
          <div class="flex flex-col items-center">
            <img src="/images/partner/nipa-kr.png" alt="NIPA" class="w-32" />
          </div>
          <span class="block text-gray-500 dark:text-gray-400"
            >&copy; {today.getFullYear()} SUSC(에스유에스씨). 별도
            고지가 있는 경우를 제외하고, 웹사이트 소스코드는 MIT, 웹 사이트의 컨텐츠는 CC
            BY-SA 4.0 라이센스로 이용가능합니다.</span>

          <div class="flex items-center justify-center space-x-3 space-y-8 transition hover:text-primary"> 
            <a href="https://github.com/SUSC-KR" class="flex items-center space-x-3 transition hover:text-primary text-gray-500 dark:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-5"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <span>Github</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </Container>
  
</footer>
<!-- <style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style> -->
