---
import Container from "./Container.astro";
---


<div class="text-gray-600 dark:text-gray-300" id="contents">
	<Container>
		<div class="overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
					<div class="lg:pr-8 lg:pt-4 order-1 sm:order-1 md:order-1 lg:order-1">
						<div class="lg:max-w-lg">
							<h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-sky-300">전문가와의 교류</h2>
							<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">전문가 밋업</p>
							<p class="mt-6 lg:mt-16 text-lg leading-8 text-gray-600 dark:text-white">현업에서 활동하고 있는 전문가의 입장에서 대학생들에게 해주고 싶은 말 또는 소개하고 싶은 이야기를 하면서 대학생과 전문가와 교류할 수 있는 장을 제공합니다.</p>
						</div>
					</div>
					<img src="./suscmeetup.jpeg" alt="susc-meetup" class="order-2 sm:order-2 md:order-2 lg:order-2 w-[48rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] order-1 md:-ml-4 order-1 lg:-ml-0" width="2432" height="1442">
				</div>
			</div>
		</div>

		<div class="overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
					<div class="lg:pr-8 lg:pt-4 order-2 sm:order-1 md:order-1 lg:order-2">
						<div class="lg:max-w-lg">
							<h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-sky-300">멘토와 대학간의 교류</h2>
							<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">스터디 및 프로젝트</p>
							<p class="mt-6 lg:mt-16 text-lg leading-8 text-gray-600 dark:text-white">같은 목표를 가진 사람과 함께할 수 있다면 혼자 공부하는 힘듬을 이겨낼 수 있습니다. 서로 배움과 경험을 공유하며 더 나아가 그 분야의 전문가와 교류할 수 있는 장을 제공합니다.</p>
						</div>
					</div>
					<img src="./susc-study.jpeg" alt="susc-study" class="order-2 sm:order-2 md:order-2 lg:order-1 w-[48rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] order-1 md:-ml-4 order-1 lg:-ml-0" width="2432" height="1442">
				</div>
			</div>
		</div>

		<div class="overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
					<div class="lg:pr-8 lg:pt-4 order-1 sm:order-1 md:order-1 lg:order-1">
						<div class="lg:max-w-lg">
							<h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-sky-300">대외적 교류</h2>
							<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">SUSCON 수스콘</p>
							<p class="mt-6 lg:mt-16 text-lg leading-8 text-gray-600 dark:text-white">자신이 방학동안 배운 것들이나 경험한 것들을 발표할 수 있는 환경을 제공합니다. 이를 통해 발표의 뿌듯함과 배움의 깊이가 더욱 깊고 넓어지는 경험을 할 수 있습니다. 추가적으로 외부 기술 커뮤니티와의 교류도 계획하고 있습니다.</p>
						</div>
					</div>
					<img src="./aboutBanner.jpg" alt="susc-summer" class="order-2 sm:order-2 md:order-2 lg:order-2 w-[48rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] order-1 md:-ml-4 order-1 lg:-ml-0" width="2432" height="1442">
				</div>
			</div>
		</div>

	</Container>
</div>