---
import Container from "./Container.astro";
---


<section class="text-gray-600 body-font">
	<Container>
		<div class="container px-5 py-12 mx-auto">
			<div class="flex flex-col text-center w-full mb-10">
				<h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl mb-4">2023 SUMMER 방학교류</h1>
				<p class="lg:w-2/3 mx-auto leading-relaxed text-base">2023년 7월부터 8월까지 약 한 달간 총 6개 대학에서 방학교류를 진행했습니다.</p>
			</div>
			<div class="flex flex-wrap -m-4 text-center">
				<div class="p-4 md:w-1/3 sm:w-1/3 w-full">
					<div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
						<h2 class="title-font font-medium text-3xl text-gray-900">70 명</h2>
						<p class="leading-relaxed">교류에 참여한 학생</p>
					</div>
				</div>
				<div class="p-4 md:w-1/3 sm:w-1/3 w-full">
					<div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
						<h2 class="title-font font-medium text-3xl text-gray-900">6 개 대학</h2>
						<p class="leading-relaxed">교류에 참여한 학교</p>
					</div>
				</div>
				<div class="p-4 md:w-1/3 sm:w-1/3 w-full">
					<div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
						<h2 class="title-font font-medium text-3xl text-gray-900">10 명</h2>
						<p class="leading-relaxed">교류에 기여한 멘토</p>
					</div>
				</div>
			</div>
		</div>
	</Container>
</section>