---
import Container from "./Container.astro";
import MainUnivCard from "./MainUnivCard.astro";
---

<div id="univ">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        참여 동아리
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        등록 학교 리스트 부제목 내용
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <MainUnivCard 
        univName="경북대학교"
        univImg="./images/univ/경북대.jpeg"
        univDescription="경북대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="경희대학교"
        univImg="./images/univ/경희대.jpeg"
        univDescription="경희대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="금오공과대학교"
        univImg="./images/univ/금오공대.jpeg"
        univDescription="금오공과대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="동국대학교"
        univImg="./images/univ/동국대.jpeg"
        univDescription="동국대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="동아대학교"
        univImg="./images/univ/동아대.jpeg"
        univDescription="동아대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="배재대학교"
        univImg="./images/univ/배재대.jpeg"
        univDescription="배재대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="서강대학교"
        univImg="./images/univ/서강대.jpeg"
        univDescription="서강대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="서울과학기술대학교"
        univImg="./images/univ/서울과기대.jpeg"
        univDescription="서울과학기술대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="서울여자대학교"
        univImg="./images/univ/서울여대.png"
        univDescription="서울여자대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="연세대학교"
        univImg="./images/univ/연세대.jpeg"
        univDescription="연세대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="우송대학교"
        univImg="./images/univ/우송대.jpeg"
        univDescription="우송대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="한국공학대학교"
        univImg="./images/univ/한국공대.jpeg"
        univDescription="한국공학대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="한국외국어대학교"
        univImg="./images/univ/한국외대.jpeg"
        univDescription="한국외국어대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="한국해양대학교"
        univImg="./images/univ/한국해양대.jpeg"
        univDescription="한국해양대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="한남대학교"
        univImg="./images/univ/한남대.png"
        univDescription="한남대학교 동아리 리스트"
      />
      <MainUnivCard 
        univName="한양대학교"
        univImg="./images/univ/한양대.jpeg"
        univDescription="한양대학교 동아리 리스트"
      />
    </div>
  </Container>
</div>
