---
const {	univName, clubList } = Astro.props;

interface Props {
	univName: string;
	clubList: string[];
}
---


<section class="bg-white dark:bg-gray-900">
	<div class="container px-6 py-10 mx-auto">
		<h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white">{univName} 입니다.</h1>
		<p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">{clubList.join(', ')}도 참여해셔 열심히 활동하고 있습니다.</p>
	</div>
</section>